@* Удалите этот раздел, если используется объединение *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Добавить новый профиль";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>
